body  {
	background-image: url("../images/bats.gif");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	margin: auto;
	border-style: solid;
	box-shadow: 5px 10px;
	background-color: white;
}
a {
    font-weight: bold;
    color: orange;
}
a:link, a:visited { 
    color: orange; 
}
a:hover, a:focus { 
    color: green;
}

/* Header */
header {
    background: linear-gradient(to bottom right, white 75%, orange, black);
  	border-bottom-style: solid;
}

header img { 
	float: left; 
} 
header h2 {
	font-size: 230%;
	text-indent: 25px;
}
header h3 {
	font-size: 125%;
	text-indent: 25px;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Main */
main{
	background-color: white;
}
main h1 { 
	font-size: 140%;
}
main h1:first-letter { 
	font-size: 240%;
}
main h2 {
	font-size: 125%;
}
main h3 {
	font-size: 110%;
}
ul {
	line-height: 1.5;
}

/* Footer */
footer p {
	font-size: 90%;
	text-align: center;
}

footer{
		border-top-style: solid;
		background: linear-gradient(to top left, white 75%, orange, black);
}